.Header_Center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #ffffff;
    width:100%;
  }

  .Header_Logo{
    width:auto;
    height:120px; 
  }
