.selectImageLabel{
	font-weight:600;
	margin-right:10px;
}
.selectImageSelect{
	margin-top:20px;
	margin-bottom:20px;
	padding:5px 10px;
	font-size:15px;
	border-radius:10px;
}
.selectImageOption{
	font-size:15px;
}

.uploadImage{
	font-weight:600;
	margin-right:10px;
}

.uploadImageInput{
	margin-bottom:20px;
	font-size:15px;
	border-radius:10px;
	padding:5px;

}

.uploadImageBTN{
	margin-top:20px;
	margin-bottom:20px;
	padding:2px 5px;
	font-size:15px;
	border-radius:10px;
	margin-left:-50px;
	cursor: pointer;
	border:1px solid #555;
}

.uploadImageBTN:hover{
	background-color: #ddd;
}

.editHeader{
	font-size:25px;
	font-weight:400;
	padding:2px 20px;
	background-color: grey;
}

.selectTab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f0f0f0f0;
	width: 12%;
	height: 450px;

	padding: 10px; /* Adjust padding as needed */
	margin-right: 10px; /* Add margin to create separation from content */
	border-radius: 10px; /* Add rounded edges */

	display: flex;
	flex-direction: column; /* Stack buttons vertically */
}

.selectTab button {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	color: #333;
	padding: 15px 20px;
	border: 0.05px solid transparent;
	outline: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	border-radius: 5px;
	margin-bottom: 5px;
	font-size: 18px;
	align-items: center;
}

.selectTab button:hover {
	background-color: #ddd;
	color: #000;
}

.selectTab button.active {
	background-color: #ccc;
	color: #000;
	border-color: #333;
}

.menuTitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
	text-align: center;
}

.menuTitleContent {
	display: flex;
	align-items: center;
}

.menuTitleContent span {
	margin-left: 10px;
}

.centerDivider {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuDivider {
	margin-top: -6px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
	width: 75%;
	opacity: 0.4;
}

.adminPageDescription {
	font-size: 16px;
	color: #000;
	margin-bottom: 20px;
	text-align: center;
}

.adminPageContainer {
	width: 100%;
	padding: 20px;
	background-color: none;
	position: relative;
	margin-bottom: 80px;
	margin-top: 10px;
	margin-right: 50px;
}

.adminCalendarContainer {
	width: 80%; /* Controls the width of the calendar relative to the page size */
	height: 450px;
	position: relative;
	background-color: none;
	display: block;
	margin: auto;
}

/* Style the tab content */
.tabcontent {
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	overflow-y: auto; /* Add a vertical scrollbar if needed */
	min-height: 450px; /* Set a maximum height */
	height: auto; /* Let the height adjust based on content */
}

.hidden {
	display: none;
}

.adminPageTitle {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	padding: 20px;
}
.adminPageSectionTitle {
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	padding: 50px;
}

.adminPageSectionTitle2 {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
	padding: 10px;
}

.notAdminMessage {
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	padding: 90px;
}
.eventTitleInput button {
	background-color: #4b3d318f;
	color: #ffffff; /* Set the text color */
	border: none;
	padding: 2px 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	position: relative;
}
.eventTitleInput {
	font-size: 16px;
	width: 20%; /* Allow the input to expand its width based on content */
	height: 1px;
	margin-left: 105%;
	position: relative;
}
.selectedSlotMark {
	background-color: lightblue;
	display: block;
	position: relative;
}
.popUpWindow {
	border: 1px solid #ccc;
	background-color: #ccc;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	margin: auto;
	position: relative;
	top: 50px;
}
.InfoWindow {
	border: 1px solid #ccc;
	background-color: #ccc;
	position: fixed;
	top: 50%; /* Center vertically */
	left: 50%; /* Center horizontally */
	transform: translate(-50%, -50%);
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 9999;
}
.faTrash {
	margin-left: 1px;
	align-items: center;
	display: flex;
}
