.bookingForm {
    background-color: #fff3db;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
   .formGroup {
    margin-bottom: 20px;
  }
   .submitButton {
    background-color: #413c58;
    color: #e2c8a1;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
