.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  font-family: "Verdana", "Courier New", Sans-serif;
  height:300px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
    margin-top: 50px;
    font-family: "Verdana", "Courier New", Sans-serif;
    font-size:28px;

  }

  .subCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Verdana", "Courier New", Sans-serif;
    font-size:20px;
    font-weight:300;
    margin-bottom:80px;
  }
.bodyContactUs{
  background-color: rgb(255, 249, 227);
  
}


.buttonContactUs{
    grid-column: 1 / -1;
    justify-self: center;
  }
  
  
.pName {
  text-decoration: none;
  font-size:14px;
  color:#000000;
}
.pName:hover{
  color:#fb7a7a;
}
