@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  padding-bottom: 1em;
  top: 50px;

}



.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0%, auto));
  width: var(--max-width);
  max-width: 100%;
  padding-top: 3em;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
    
  }

  .gridColor {
    background-color:#000000;
    position: relative;
    width: 107px;
    height: 32px;
    text-align: center;
    bottom: 100px;

    
  }

  .gridColor2 {
    background-color:#000000;
    position: relative;
    width: 155px;
    height: 32px;
    text-align: center;
    bottom: 100px;

    
  }
  .gridColor3 {
    background-color:#000000;
    position: relative;
    width: 130px;
    height: 32px;
    text-align: center;
    bottom: 100px;

    
  }


  .gridText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: rgb(255, 248, 248);
    position: absolute;
    bottom: -1em;
    left: 1em;
    
    
    
  }



.colorBlock {
  
  
    background-color: #000000;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
    padding-top: 25px;
    text-align: center;
  
    
    justify-content: center;
   
    margin: 0 auto;
    width: 100%;
    height: 67px;
    

    
  }
  


.sectionMargin {
    margin-top: 20px;
    }
 

.textColor {
  color: rgb(255, 248, 248);
  position: absolute;
  width: 222px;
  height: 35px;
  left: calc(50% - 222px/2 - 3px);
  

  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  /* identical to box height */
}

.gridText:hover {
  color:#f89191 
}

.BoxShadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}





