@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.mainContainer{
  font-family: "Verdana", "Courier New", Sans-serif;
width:100%;
}

.introContainer{
  background-color: none;
  height:150px;
  margin-top:10px;
  
}

.introTitle{
  font-size:25px;
  text-align: center;
  padding:50px 20px 20px 20px;
}

.introDesc{
  font-size:15px;
  text-align:center;
  padding:10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: "hidden"
}

.imageContainer{
  height: 300px;
	width: 350px;	
  padding:20px;
}

.container {
  padding: 24px;
  width:66%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column66 {
  float: left;
  width: 60%;
  padding: 20px;
  text-align: justify;
}

.column33 {
  float: left;
  width: 30%;
  padding: 20px;

}

.sectionTitle {
  font-size: 38px;
  font-weight:400;
}

.button {
  border: none;
  border-radius:15px;
  color: #000000;
  padding: 10px 14px;
  margin:2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #e7dfd8;
  text-decoration: none;
  
}
.button:hover{
  color:#fb7a7a;
}

.imgStyle {
  display: block;
  height: auto;
  margin-top:40px;
  max-width: 100%;
  border: 1.5px solid #fb7a7a;
  border-radius:25px;
}
.imgStyle:hover{
  box-shadow: 0 4px 8px 0 #fb7a7a;
}

@media screen and (max-width: 1300px) {
  .column66 {
    float: left;
    width: 60%;
    padding: 20px;
    text-align: justify;
  }
  
  .column33 {
    float: left;
    width: 30%;
    padding: 20px;
  
  }
  .imgStyle {
    margin: auto;
  }

  .sectionTitle {
    font-size: 38px;
    font-weight:400;
  }
}

@media screen and (max-width: 1000px) {
  .column66 {
    float: left;
    width: 100%;
    padding: 20px;
    text-align: justify;
  }
  
  .column33 {
    float: left;
    width: 100%;
    padding: 20px;
  
  }
  .imgStyle {
    margin: auto;
  }

}
