
.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2%;
	max-width: 100%;
	
}


.titleH2 {
	margin-bottom: 1.5%;
	font-size: 3.3rem;
	font-family: var(--font-roboto);
}

.titleH3 {
	margin-bottom: .2%;
	font-size: 1.5rem;
	font-family: var(--font-roboto);
}


.formContainer {
	width: 100%;
	max-width: 60%;
}

.formControl {
	width: 100%;
	margin-bottom: 2%;
}

.button {
	margin-top: 2%;
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-size: 1.2rem;
	border-radius: 5px;
	text-transform: uppercase;
}


.button:hover {
	background-color: #0056b3;
}

.smessage {
	margin-top: 2%;
	color: #4caf50;
	font-weight: bold;
}