.myDiv {
    background-color: #e7dfd8;
    border:1px solid #a0948c;
    border-radius:10px; 
    margin: 20px;
    padding:60px;
    width:50%;
    
}
.h1 {
    color:#000000; 
    font-family: "Verdana", "Courier New", Sans-serif;
    font-size:30px;
}

.h2 {
    color:#000000;
    margin:15px;
    text-align: left;
    font-family: "Verdana", "Courier New", Sans-serif;
    font-weight:600;
    font-size:18px;
}

.p{
    font-size: 15px;
    margin: 20px;
    text-align: justify;
    font-family: "Verdana", "Courier New", Sans-serif;
}
