.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
  }
  
  .form-container {
  margin-top: 50px;
}

.title {
    text-align: center;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .updateUser label {
    margin-bottom: 0.5rem;
  }
  